$primary-color: #813c39;
$secondary-color: #dac6ba;

@font-face {
  font-family: 'Work Sans';
  src: local('Work Sans'),
  url(~assets/fonts/WorkSans-VariableFont_wght.ttf) format('truetype-variations');
}

@font-face {
  font-family: 'Roustel';
  src: local('Roustel'),
  url(~assets/fonts/Roustel.ttf) format('truetype-variations');
}

@mixin appear($hex-color) {
  @keyframes appear {
    from {
      text-decoration-color: unquote($hex-color + '00');
    }
    to {
      text-decoration-color: $hex-color + ff;
    }
  }

  @keyframes disappear {
    from {
      text-decoration-color: $hex-color + ff;
    }
    to {
      text-decoration-color: unquote($hex-color + '00');
    }
  }
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@mixin background-image-modal($image-base-name, $alignment) {
  $resolution-map: ('3840px': 1752, '2560px': 1285, '1680px': 1168, '1440px': 1051, '1280px': 818, '1024px': 701);
  @include responsive-background($image-base-name, $resolution-map, $alignment);
}

@mixin background-image-page($image-base-name, $alignment) {
  $resolution-map: ('3840px': 3840, '2560px': 2560, '1680px': 1680, '1440px': 1440, '1280px': 1280, '1024px': 1024);
  @include responsive-background($image-base-name, $resolution-map, $alignment);
}

@mixin responsive-background($image-base-name, $resolution-map, $alignment) {
  background: url('assets/images/#{$image-base-name}-full.jpg') #{$alignment} no-repeat;
  background-size: 100%;

  @each $screen-resolution, $image-resolution in $resolution-map {
    @media screen and (max-width: $screen-resolution) {
      background-image: url('assets/images/#{$image-base-name}-#{$image-resolution}.jpg');
      background-size: #{$image-resolution}px;

      @if $image-resolution <= 2000 {
        @media (min-resolution: 2dppx) {
          background-image: url('assets/images/#{$image-base-name}-#{$image-resolution * 2}.jpg');
        }
      }
    }
  }
}
